<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/adminPanel.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="body-container">
        <div class="navpanel">
            <ul class="nav-list">
                <li>@Html.ActionLink("Index", "Index", "Home")</li>
                <li>@Html.ActionLink("Products", "Index", "Product")</li>
                <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                <li>@Html.ActionLink("Statistics", "Index", "Statistic")</li>
            </ul>
        </div>
        <div class="page-container">
            <div class="panel-name-container">
                <div>
                    <h1>
                        Admin control panel
                    </h1>
                    <hr />
                </div>
            </div>
            <div class="content-container">
                <div>
                    @RenderBody()
                </div>
            </div>
         </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
